@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>  @ViewData["Title"] </title>
    @Html.Partial("UiCss")
</head>
<body id="sugarbody" class="nav-md footer_fixed">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div id="divTitle" class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-smile-o">  </i> <span>Web First </span> <span v-cloak></span></a>
                    </div>
                    <div class="clearfix"></div>
               
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        @Html.Partial("Menu")
                    </div>

                </div>
            </div>

            <!-- top navigation -->
            @Html.Partial("Top")
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                
                    <iframe id="iframeBody"    name="iframeLeft" frameborder="0" src="/Database"></iframe>
             
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by  Colorlib
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @Html.Partial("UiJs")

    <script src="~/vendors/sugarjs/sugar.js"></script>
    <script src="~/views/shared/overwritesugar.js"></script>
    <script src="~/views/shared/layout.js"></script>
</body>
</html>

