<!DOCTYPE html>
@{ 
    ViewBag.version = "?v=100";
}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>  @ViewData["Title"] </title>
    @Html.Partial("UiCss")
    @RenderSection("css", false)
</head>
<body id="sugarbody" class="nav-md footer_fixed">
    @RenderBody()
    @Html.Partial("UiJs")

    <script src="~/vendors/sugarjs/sugar.js@(ViewBag.version)"></script>
    <script src="~/views/shared/overwritesugar.js@(ViewBag.version)"></script>

     
    @RenderSection("js", false)
</body>
</html>